include layouts/index.pug
div(class="container pt-4")
    h1="Productos cargados"

    div(class="row")
        if productos.length
            table(class="table col-12")
                thead
                    tr(class="text-center")
                        th(scope="col")="Nombre"
                        th(scope="col")="Precio"
                        th(scope="col")="Foto"
                tbody
                each producto in productos
                    tr(class="text-center")
                        th(scope="row")=producto.name
                        td=producto.price
                        td
                            img(src=producto.thumbnail width="35px" alt=producto.name)
                    
        else
            div(class="col-12")
                div(class="alert alert-warning text-center")="No se encontraron productos"
