<%- include('../partials/base') %>
<div class="container pt-4">
  <h1>Productos cargados</h1>

  <div class="row">
    <% if (productos.length){ %> 
    <table class="table col-12">
      <thead>
        <tr class="text-center">
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Foto</th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach(function(producto){ %>
          <tr class="text-center">
            <th scope="row"><%= producto.name %></th>
            <td><%= producto.price %></td>
            <td><img
              src="<%= producto.thumbnail %>"
              width="35px"
              alt="<%= producto.name %>"
            /></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else{%>
      <div class="col-12">
        <div class="alert alert-warning text-center">
          No se encontraron productos
        </div>
      </div>
    <% } %>
  </div>
</div>

<%- include('../partials/footer') %>
